<div class="playlistHeader">
    <img src={{thumbnail}} alt="thumbnail of playlist {{title}}" width="320" height="180" />
    <div class="headerDetails">
        <div class="editBox">
            <h2>{{title}}</h2>
        </div>
        <p>
            <span>{{videoCount}} videos</span>
            <span id="divider">·</span>
            <span id="privacyStatus">{{status}}</span>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="icon-button with a menu">
                <mat-icon>more_horiz</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="openNewVideoDialog()">
                    <span>Add videos to {{title}}</span>
                </button>
                <button mat-menu-item (click)="deletePlaylist()">
                    <span>Delete playlist</span>
                </button>
            </mat-menu>
        </p>
        <div class="editBox">
            <p>{{description}}</p>
        </div>
    </div>
</div>