<div>
  <nav class="black">
    <div class="nav-wrapper">
      <div class="container">
        <a href="#!" class="brand-logo">YouTube Channel Data</a>
      </div>
    </div>
  </nav>
  <br>
  <section>
    <div class="container">
      <p>Log In With Google</p>
      <button class="btn red" id="authorize-button" (click)="handleAuthClick">Log In</button>
      <button class="btn red" id="signout-button" (click)="handleSignoutClick">Log Out</button>
      <br>
      <div id="content">
        <div class="row">
          <div class="col s6">
            <form id="channel-form">
              <div class="input-field col s6">
                <input type="text" placeholder="Enter Channel Name" id="channel-input">
                <input type="submit" value="Get Channel Data" class="btn grey">
              </div>
            </form>
          </div>
          <div id="channel-data" class="col s6"></div>
        </div>
        <div class="row" id="video-container"></div>

      </div>
    </div>
  </section>
</div>