.mat-toolbar {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}

.pageHeader {
  display: flex;
  align-items: center;
}

.pageHeader h1 {
  margin-left: 5px;
  font-weight: bold;
}

.pageContent {
  display: grid;
  grid-template-columns: 225px 1fr;
}

.sidebarHeader {
  display: flex;
  justify-content: space-center;

}

.sidebarHeader div {
  line-height: 40px;
  margin-left: 20px;
}