.mat-toolbar {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}

.pageHeader {
  display: flex;
  align-items: center;
}

.pageHeader h1 {
  margin-left: 5px;
  font-weight: bold;
}