<div>
  <nav class="black">
    <div class="nav-wrapper">
      <div class="container">
        <a href="#!" class="brand-logo">YouTube Channel Data</a>
      </div>
    </div>
  </nav>
  <br>
  <section>
    <div class="container">
      <p>Log In With Google</p>
      <ng-template [ngIf]="isLoggedIn" [ngIfElse]="loggedOut">
        <button mat-raised-button color="warn" id="signout-button" (click)="handleSignoutClick()">Log Out</button>
      </ng-template>
      <ng-template #loggedOut>
        <button mat-raised-button color="warn" id="authorize-button" (click)="handleAuthClick()">Log In</button>
      </ng-template>
      <div id="content">
        <div *ngFor="let item of playlistInfo">
          <img src={{item.thumbnail}} />
          <p>{{item.title}}</p>
        </div>

      </div>
    </div>
  </section>
</div>