.playlist-sidebar {
  max-height: 100vh;
  position: fixed;
  overflow-y: auto;
  margin-top: 50px;
  z-index: 100;
}

.playlistItems {
  display: flex;
  flex-direction: column;
  border-top: none;
  width: 100%;
  padding: none;
}

.tabLink {
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 10px;
  cursor: pointer;
  width: 180px;
}

.tabLink:hover {
  background-color: #eee;
}

.tabLink div {
  margin-left: 20px;
}


.emptyPlaceholder {
  text-align: center;
  width: 225px;
}

::-webkit-scrollbar {
  width: 8px;
  background: #fff;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
}


.playlist-sidebar:hover::-webkit-scrollbar-thumb {
  background: #888;
}


/* overwrite angular material component css */
.mat-button-toggle-standalone.mat-button-toggle-appearance-standard,
.mat-button-toggle-group-appearance-standard {
  border: none;
}

.mat-button-toggle-button {
  text-align: left;
  width: auto;
}