a {
    text-decoration: none;
    color: #000;
}

.playlistContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    justify-items: center;
    padding: 20px 10px;
}

.videoWrapper {
    max-width: 320px;
}

.videoWrapper p {
    text-align: left;
    height: 50px;
    font-weight: 500;
    padding: 0 5px;
}

.defaultThumbnail {
    width: 320px;
    height: 180px;
    background-color: #ddd;
    color: #666;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 6px;
}