.pageContent {
  display: grid;
  grid-template-columns: 225px 1fr;
}

.mat-toolbar {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}

.pageHeader {
  display: flex;
  align-items: center;
}

.pageHeader h1 {
  margin-left: 5px;
  font-weight: bold;
}

.sidebarHeader {
  display: flex;
  justify-content: space-between;
}

.sidebarHeader div {
  line-height: 40px;
  margin-left: 20px;
}

.playlist-sidebar .playlistItems {
  display: flex;
  flex-direction: column;
  border-top: none;
}


.playlist-sidebar .playlistTab {
  display: flex;
  align-items: center;
  min-width: 220px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebarHeader {
  display: flex;
  justify-content: space-between;
}

.sidebarHeader div {
  line-height: 40px;
  margin-left: 20px;
}

.emptyPlaceholder {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
}

.emptyPlaceholder a {
  text-decoration: underline;
}