<div class="playlistHeader">
    <img src={{thumbnail}} alt="thumbnail of playlist {{title}}" />
    <div class="headerDetails">
        <h2>{{title}}</h2>
        <p>{{videoCount}} videos <span id="divider">·</span> <span id="privacyStatus">{{status}}</span></p>
        <p>{{description}}</p>
    </div>
</div>
<div class="search-form">
    <mat-icon matPrefix>search</mat-icon>
    <input matInput placeholder="Type search word here..." [(ngModel)]="keyword" [ngModelOptions]="{ standalone: true }"
        (ngModelChange)="handleSearch()" />
    <button matSuffix *ngIf="keyword" mat-icon-button aria-label="Clear" (click)="clearSearch()">
        <mat-icon>close</mat-icon>
    </button>
</div>
<div class="playlistContainer">
    <div class="videoWrapper" *ngFor="let item of playlistVideos">
        <a *ngIf="item.isValid; else invalidVideo" target="_blank" href="{{YT_VIDEO_URL}}{{item.videoId}}">
            <img src={{item.img}} alt={{item.title}} />
            <p>{{item.title}}</p>
        </a>
        <ng-template #invalidVideo>
            <div class="defaultThumbnail">Video Unavailable</div>
            <p>{{item.title}}</p>
        </ng-template>
    </div>
</div>
<mat-paginator *ngIf="playlistItems.length > PAGE_SIZE" [length]="playlistItems.length" [pageSize]="PAGE_SIZE"
    aria-label="Select page" (page)="onPageChange($event)" class="paginator-wrapper">
</mat-paginator>