<div>
    <section>
      <mat-toolbar>
        <div class="pageHeader">
          <img src="../assets/youtube_logo.png" alt="youtube logo" width="40" height="40" />
          <h1 (click)="goToHomePgae()">YouTubePlaylist 2.0</h1>
        </div>
        <button mat-raised-button color="warn" id="signout-button" (click)="handleSignoutClick()">Log Out</button>
      </mat-toolbar>
      <div class="playlistContainer">
        <div class="playlist-sidebar">
          <mat-button-toggle-group name="fontStyle" aria-label="playlist name" class="playlistItems"
            *ngIf="playlistInfo.length; else noPlaylist">
            <div class="playlistTab editorIcons">
              <div>
                <button mat-icon-button (click)="goToHomePgae()">
                  <mat-icon>home</mat-icon>
                </button>
              </div>
              <div (click)="openNewPlaylistDialog()">
                <button mat-icon-button>
                  <mat-icon>library_add</mat-icon>
                </button>
              </div>
              <div>
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="sort-icon-button with a menu">
                  <mat-icon>sort</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="sortPlaylistByTitle()">
                    <span>By Title (A to Z)</span>
                  </button>
                  <button mat-menu-item (click)="sortPlaylistByTitle(true)">
                    <span>By Title (Z to A)</span>
                  </button>
                </mat-menu>
              </div>
            </div>
            <mat-button-toggle *ngFor="let item of playlistInfo">
              <a routerLink="/playlist/{{item.id}}" class="playlistTab">
                <mat-icon>playlist_play</mat-icon>
                <div>{{item.title}}</div>
              </a>
            </mat-button-toggle>
          </mat-button-toggle-group>
          <ng-template #noPlaylist>
            <div class="noPlaylist">
              <p>No playlist found</p>
              <p>Create one to start</p>
              <div (click)="openNewPlaylistDialog()">
                <mat-icon>library_add</mat-icon>
              </div>
            </div>
          </ng-template>
        </div>
        <div class="playlist-content">
          <app-playlist-page-content [playlistId]="playlistId"></app-playlist-page-content>
        </div>
      </div>
    </section>
  </div> 
